<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form class="new-post-form" action="/posts/new" method="post">
      <legend>New Post</legend>
      <div class="form-group">
        <input name="subreddit" type="text" class="new-post-input" id="post-subreddit" placeholder="Subreddit">
      </div>
      <div class="form-group">
        <input
          type="text"
          name="title"
          class="new-post-input"
          id="post-title"
          placeholder="Title"
        />
      </div>
      <div class="form-group">
        <label for="post-url"></label>
        <input
          type="url"
          name="url"
          class="new-post-input"
          id="post-url"
          placeholder="URL https://www.google.com"
        />
      </div>
      <div class="form-group">
        <textarea
          name="summary"
          class="new-post-input"
          id="post-summary"
          placeholder="Summary Text"
        ></textarea>
      </div>

      <div class="text-end">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>
