@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --font-color: whitesmoke;
  --color-black: rgb(4, 4, 4);
  --color-black-card: rgb(25, 25, 25);
  --color-grey: rgb(210, 213, 215);
  --color-blue: rgb(29, 111, 198);
  --color-orange: rgb(200, 63, 28);
  --font-family: 'Noto Sans', sans-serif;
}

html {
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  /* background: var(--color-black); */
  background-image:
    url(/spartans.png),
    linear-gradient(-90deg, var(--color-orange), var(--color-blue));
  background-size: auto, auto;
  background-repeat: repeat, repeat;
}

.container {
  width: 70vw;
  margin: 0 auto;
  /* border: 1px white solid; */
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.comment-indent {
  margin-left: 20px;
}

a, .text-light, label, legend, .vote-score, .summary, .card-text, .author {
  text-decoration: none;
  color: var(--font-color);
}

li {
  list-style: none;
}

.navbar, .card {
  background-color: var(--color-black-card);
}

.navbar > .container-fluid {
  display: flex;
}

.navbar > .container-fluid .navbar-nav {
  display: flex;
}

.navbar-brand {
  content: " ";
  background-image: url('../reddit-logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 3rem;
  width: 7rem;
  margin-left: 0.5rem;

  text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav-item {
  margin: 0 1rem;
}

.login:hover, .sign-up:hover {
  opacity: 0.9;
}

.login, .sign-up {
  border: 1px solid var(--color-grey);
  padding: 0.3rem 2.4rem;
  border-radius: 150px;
  font-weight: 600;
  font-size: 0.9rem;
}

.sign-up {
  color: var(--color-grey);
  background-color: var(--font-black-card);
}

.login {
  /* background-color: var(--color-blue); */
  background-color: var(--color-grey);
  color: var(--color-black-card);
}

.lead {
  font-size: 2rem;
}

.card {
  width: 60%;
  margin: 0.7rem 0;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}

.card-title {
  margin-bottom: 0.7rem;
}

.card-title a {
  font-size: large;
}

.text-end {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.text-end a {
  font-size: 0.85rem;
  font-weight: 400;
  color: grey;
}

a.card-description {
  font-weight: 300;
  font-size: 0.9rem;
}

small.author-name {
  font-weight: 300;
  color: grey;
  margin-left: 0.5rem;
}

.form-control, .btn {
  border-radius: 50px;
  padding: 0.8rem;
  margin: 0.5rem auto;
  font-family: var(--font-family);
  font-weight: 600;
  width: 16rem;
  border: none;
}

.btn {
  background-color: var(--color-orange);
  color: var(--font-color);
  font-weight: 700;
  width: 17.5rem;
}

.vote-up, .vote-down {
  width: min-content;
}

.arrow {
  background-color: transparent;
  padding: 0;
  border-width: 12px;
  border-style: solid;
  position: initial;
  left: 1rem;
  transition: all ease 0.2s;
}

.arrow-up {
  border-color: transparent transparent var(--color-grey) transparent;
}

.arrow-down {
  border-color: var(--color-grey) transparent transparent transparent;
}

.arrow-up:hover {
  border-color: transparent transparent var(--color-blue) transparent;
}

.arrow-down:hover {
  border-color: var(--color-orange) transparent transparent transparent;
}

.voter {
  width: min-content;
  /* border: solid pink 1px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.card-body {
  display: flex;
}

textarea {
  line-height: 1;
  width: 20rem;
  padding: 3rem;
}

.new-post-input {
  width: 25rem;
  margin: 0 2rem;
  border-radius: 8px;
  border: none;
  padding: 1.5rem;
}

.new-post-form {
  height: 50vh;
}

.username {
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 3.5rem;
}

.username:nth-child(1) {
  background-image: url(/dog-loyalty-colored.png);
}


